.form-signup {
    max-width: 400px;
    padding: 15px;
  }

  
body {
  font-family: 'Jura', sans-serif;
}

.background {
  background: linear-gradient(136deg, #170c74, #40705c, #320e63)  0% 0% / 300% 300%;
  background-size: 900%;

  -webkit-animation: AnimationName 14s ease infinite;
  -moz-animation: AnimationName 14s ease infinite;
  -o-animation: AnimationName 14s ease infinite;
  animation: AnimationName 14s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:14% 0%}
  50%{background-position:87% 100%}
  100%{background-position:14% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:14% 0%}
  50%{background-position:87% 100%}
  100%{background-position:14% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:14% 0%}
  50%{background-position:87% 100%}
  100%{background-position:14% 0%}
}
@keyframes AnimationName {
  0%{background-position:14% 0%}
  50%{background-position:87% 100%}
  100%{background-position:14% 0%}
}

.all-viewport{
  height: 100vh;
}